@import "util";
@import "init";

body {
	//&:before {
	//	position: absolute;
	//	display: inline-block;
	//	z-index: 1000;
	//	font-size: large;
	//}
	//@include mq-xl {
	//	&:before {
	//		content: "mq-xl";
	//	}
	//}
	//@include mq-md {
	//	&:before {
	//		content: "mq-md";
	//	}
	//}
	//@include mq-tb {
	//	&:before {
	//		content: "mq-tb";
	//	}
	//}
	//@include mq-pc {
	//	&:before {
	//		background-color: red;
	//	}
	//}
	//@include mq-sp {
	//	&:before {
	//		content: "mq-sp";
	//		background-color: blue;
	//	}
	//}
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	height: 100%;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.container {
	//display: flex;
	//flex-direction: column;
	//justify-content: space-around;
	//align-items: center;
	//min-height: 100vh;
	//width: 100%;
}

#app {
	flex: 1;
	width: 100%;
	position: relative;
	display: flex;
	transform-origin: top left;

}

.btn {
	display: inline-flex;
	border: 1px solid $color_white;
	color: $color_white;
	text-decoration: none;
	width: 2.5rem;
	height: 2.5rem;
	justify-content: center;
	align-items: center;
	background-color: rgba($color_black, 0.8);
	-webkit-tap-highlight-color: $color_white;
	position: relative;
	z-index: $z-index_on;
	&:active, &.current {
		background-color: $color_white;
		color: $color_black;
	}

	&.blank {
		opacity: 0.35;
	}
	&.half {
		height: 1.5rem;
		font-size: 12px;
	}
}

hr {
	border-color: $color_white;
	opacity: 0.35;
}

.hr-1 {
	width: 2.5rem;
}