block option
    -
        var $meta={
        lang:"ja",
        langLabel:"",
        title:"title",
        description:"description",
        keyword:"keyword",
        ogimage:null,
        host:"//",
        root:"./",
        dir:"/"
        }

doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")

        title !{$meta.title}
        meta(name='description', content=$meta.description)
        meta(name='keywords', content=$meta.keyword)

        //meta(property='og:title', content=$meta.title)
        //meta(property='og:type', content='website')
        //meta(property='og:url', content=$meta.host)
        //meta(property='og:image', content=$meta.host + ($meta.ogimage || "img/OGP_img.png"))
        //meta(property='og:site_name', content = "")
        //meta(property='og:description', content=$meta.description)

        //meta(name="twitter:card" content="summary_large_image")
        //meta(name="twitter:site" content="@")
        //meta(name="twitter:creator" content="@")
        meta(name="apple-mobile-web-app-capable" content="yes")

        link(rel="apple-touch-icon" href="favicon.png")
        link(rel='stylesheet', href='style/index.css')
    body(data-status="top")
        .container
            #app
                sine-in-component(ref="sineInComponent",v-if="hash === '#sineIn'")
                home-component(ref="homeComponent",v-if="hash === '#home'")
                member-component(ref="memberComponent",v-if="hash === '#member'")
                settings-component(ref="settingsComponent",v-if="hash === '#settings'")
                mission-component(ref="missionComponent",v-if="hash === '#mission'")
                log-module

        script(src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js")
        script(src='./build.js')

